.search-container {
    position: absolute;
    top: 30px;
    left: 96px;
    width: 100%;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #fcfcfc url(../assets/search.svg) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 36px;
	width: 55px;
	height: auto;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius:10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #2196F3;
	border-bottom: solid 1px #2196F3 !important;
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}