body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#d3_selectable_force_directed_graph .node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node .selected {
    stroke: black;
}

.link {
    stroke: #999;
}

#editor {
    position: relative;
    height: 100vh;
    font-size: 1.2em;
}

.bottom-sheet {
    max-height: 100% !important;
}

.bottom-sheet .modal.content {
    width: 60%;
    margin: 0px auto;
}

#modalContent {
    padding: 0px;
}

#container {
    height: 100vh;
    position: relative;
}

#d3_selectable_force_directed_graph {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#modal-button {
    float: left;
    z-index: 10;
    margin-top: 40px;
    margin-left: 40px;
}

#runButton {
    background: #7CFC00;
    margin-left: 10px;
    margin-right: 10px;
}

#closeButton {
    background: #778899;
}

.help-tip {
    float: right;
    margin: 40px;
    z-index: 10;
}

.help-tip {
    position: relative;
    text-align: center;
    background-color: #08ac9c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before {
    content: '?';
    font-weight: bold;
    color: #fff;
}

.help-tip:hover p {
    display: block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p {
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1E2021;
    right: 10px;
    top: -12px;
}

.help-tip p:after {
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
