body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#d3_selectable_force_directed_graph .node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node .selected {
    stroke: #0930de;
    fill: orange;
}

.link {
    stroke: #999;
}

.link .influences {
    stroke: #de9a09;
}

.link .influenced-by {
    stroke: #1e8a0b;
}

#container {
    height: 100vh;
    position: relative;
}

#d3_selectable_force_directed_graph {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
